* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 10px;
}

button:focus {
  outline: 0;
}

body {
  width: 100%;
}

.layout-container {
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  background-color: #0b0c10;
}

.user-content {
  min-height: calc(100vh - 120px);
  padding: 10px;
  padding-top: 0px;
  color: white;
}
